@import "reset.scss";
@import "debug.scss";

#root {
  font-family: Verdana, sans-serif;
  height: 100vh;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  color: #fff;
  padding: 20px 10px;
}

.main {
  //border: 2px solid #f00;
  &_center {
    //border: 2px solid #f00;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.input-wrapper {
  margin-bottom: 20px !important;
  width: 100%;
}

.title-h1 {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  &_mb {
    margin-bottom: 20px;
  }
  &_mr {
    margin-right: 10px;
  }
  &_center {
    text-align: center;
  }
}

.title-h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  &_mb {
    margin-bottom: 20px;
  }
  &_mr {
    margin-right: 10px;
  }
  &_center {
    text-align: center;
  }
}

.title-h3 {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  &_mb {
    margin-bottom: 20px;
  }
  &_mr {
    margin-right: 10px;
  }
  &_center {
    text-align: center;
  }
}

.link-wrapper {
  .link {
    color: #fff;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.list {
  li {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > div {
      cursor: pointer;
    }
  }
}

// /* Modal Container */
// .modal-container {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: rgba(0, 0, 0, 0.5);
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// /* Modal Box */
// .modal-box {
//   width: 400px;
//   background-color: #fff;
//   border-radius: 4px;
//   padding: 20px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
// }

// /* Modal Title */
// .modal-title {
//   font-size: 20px;
//   font-weight: bold;
//   margin-bottom: 10px;
// }

// /* Modal Content */
// .modal-content {
//   margin-bottom: 20px;
// }

// /* Modal Buttons */
// .modal-buttons {
//   display: flex;
//   justify-content: flex-end;
// }

// .modal-buttons button {
//   margin-left: 10px;
// }
